body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  margin: 0 auto;
}
h1 {
  font-size: 34px;
  color: #f9faf8;
}
h2 {
  color: #1f3927;
  font-size: 22px;
  font-weight: bolder;
}
p {
  font-size: 16px;
  color: #1f2937;
}
.btn-primary {
  background-color: #d3391d;
  padding: 10 25px;
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #b6422e;
}
.flex {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header {
  height: 450px;
  background-color: #1f2937;
  padding-top: 10px;
}
.logo {
  font-size: 24px;
  font-weight: 800;
}
.logo img {
  width: 200px;
}
.hero {
  margin-top: 50px;
  margin-bottom: 50px;
}
.hero-text {
  width: 100%;
  max-width: 50%;
}
.hero-text p {
  color: #e5e7eb;
}
.hero-banner {
  width: 100%;
  max-width: 50%;
}
.hero-banner img {
  width: 500px;
  height: 250px;
  border-radius: 5px;
}
.nav-links a {
  color: #e5e7eb;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
}
.container {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}
.information {
  margin: 50 0px;
}
.information h2 {
  text-align: center;
  margin-bottom: 20px;
}
.services {
  text-align: center;
  justify-content: center;
  gap: 30px;
}
.services-box {
  width: 150px;
}
.services-box img {
  height: 150px;
  width: 150px;
  border: 2px solid #d3391d;
  border-radius: 5px;
}
.services-box p {
  color: #1f2937 !important;
}

.quote {
  background-color: #e5e7eb;
  padding: 100px;
  height: 200px;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.quote-text p {
  font-size: 36px;
  padding-bottom: 0;
  font-weight: normal;
}
.quote-text span {
  float: right;
  font-size: 26px;
  font-weight: bolder;
}
