body {
  background-color: aquamarine;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

.header {
  height: 500px;
  background-color: #1f2937;
  color: white;
}
.logo {
  font-size: 24px;
  font-weight: 800;
}
.nav-links a {
  color: #e5e7eb;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
}
